@font-face {
    font-family: '1';
    src: url(./font/Pacifico-Regular.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #ddb892;
    font-family: '1';
}

main {
    height: 100%;
    width: 100%;
}
nav {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav1 {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav1_1 {
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nav1_1 h3 {
  font-size: 30px;
  font-weight: 900;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.nav1_1 h3::before, .nav1_1 h3::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background: linear-gradient(to left, rgb(86, 4, 250), rgb(4, 243, 172));
  transition: width 0.3s ease-in-out;
}
.nav1_1 h3::before{
  left: 50%;
}
.nav1_1 h3::after{
  right: 50%;
}
.nav1_1 h3:hover::before, .nav1_1 h3:hover::after{
  width: 50%;
}
.nav1_1 h3:hover{
  color:rgb(5, 37, 244);
}
.nav1_1 img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}
.nav1_1 img:hover{
  transform:rotate(360deg);
  cursor: pointer;
}
.nav1_2 {
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav1_2 i {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.nav1_2 h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
  align-items: center;
}
.nav1_2 h4:hover{
  color: blue;
  cursor: pointer;
}
.nav1_2 h4::before, .nav1_2 h4::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  align-items: center;
  background-color: blue;
  transition: width 0.3s ease-in-out;
  align-items: center;

}
.nav1_2 h4::before{
  left: 50%;
}
.nav1_2 h4::after{
  right: 50%;
}
.nav1_2 h4:hover::before, .nav1_2 h4:hover::after{
  width: 50%;
}
.nav1_2 i:hover{
  color: blue;
  cursor: pointer;
}
.nav2 {
  height: 85%;
  width: 100%;
  background-image: url(https://plus.unsplash.com/premium_photo-1676508230431-8928ff5a8076?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fGJhY2tncm91bmQlMjBwaWMlMjBjb2ZmZWUlMjBpbiUyMGhkfGVufDB8fDB8fHww);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nav2 h3 {
  font-size: 150px;
  font-weight: 900;
  text-shadow: 3px 3px 3px black;
  background: linear-gradient(to right, rgb(244, 233, 68), rgb(2, 240, 14));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  gap: 10px;
  font-family: digital;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.nav2 h3:hover{
  text-shadow: 3px 3px 3px rgb(6, 25, 237);
}
.nav2 h3::before, .nav2 h3::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background: linear-gradient(to left, rgb(86, 4, 250), rgb(4, 243, 172));
    bottom: 3px;
    transition: width 0.3s ease-in-out;
}
.nav2 h3::before{
    left: 50%;
}
.nav2 h3::after{
  right: 50%;
}
.nav2 h3:hover::before, .nav2 h3:hover::after{
  width: 50%;
}
.nav2 h2 {
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-shadow: 3px 3px 3px rgb(0, 255, 47);
  font-family: "1";
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.nav2 h2:hover{
  color:  rgb(6, 25, 237);
}
.nav2 h2::before, .nav2 h2::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: blue;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}
.nav2 h2::before{
  left: 50%;
}
.nav2 h2::after{
  right: 50%;
}
.nav2 h2:hover::before, .nav2 h2:hover::after{
  width: 50%;
}
.nav2 button {
  height: 40px;
  width: 150px;
  color: black;
  border-radius: 30px;
  border: black;
  cursor: pointer;
}

.nav3 button:hover {
  background-color: #f9986e;
  color: rgb(255, 105, 4);
  border: 1px solid #d46535;
}
section{
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1_part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.star1{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.star1 h3{
    font-size: 20px;
    font-weight: 800;
    padding-right: 10px;
      color: black;

}
.star1 i{
    font-size: 20px;
    font-weight: 500;
    padding-right: 10px;
    color: yellow
}
.line1{
    height: 4px;
    width: 250px;
    background-color: yellow;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line1 .left{
    height: 100%;
    width: 30%;
    background-color: yellow;
}
.line1 .right{
    height: 100%;
    width: 70%;
    background-color: rgb(234, 137, 33);
}

.line2{
    height: 4px;
    width: 250px;
    background-color: yellow;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line2 .left{
    height: 100%;
    width: 80%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line2 .right{
    height: 100%;
    width: 20%;
    background-color: rgb(234, 137, 33);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.line3{
    height: 4px;
    width: 250px;
    background-color: yellow;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line3 .left{
    height: 100%;
    width: 30%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line3 .right{
    height: 100%;
    width: 70%;
    background-color: rgb(234, 137, 33);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.line4{
    height: 4px;
    width: 250px;
    background-color: yellow;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line4 .left{
    height: 100%;
    width: 20%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line4 .right{
    height: 100%;
    width: 80%;
    background-color: rgb(234, 137, 33);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.line5{
    height: 4px;
    width: 250px;
    background-color: yellow;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line5 .left{
    height: 100%;
    width: 10%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line5 .right{
    height: 100%;
    width: 90%;
    background-color: rgb(234, 137, 33);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.star1 h4{
    font-size: 20px;
    font-weight: 800;
    padding-left: 10px;
      color: black;

}
.section1_part2{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #dd8e60;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.section1_part2_1{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1_part2_1 h4{
    font-size: 50px;
    color: yellow;
    padding-top: 50px;
}
.section1_part2_2{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section1_part2_2 i{
    font-size: 35px;
    color: yellow;
    
}
.section1_part2_3{
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1_part2_3 h3{
    font-size: 20px;
    padding-bottom: 50px;
      color: black;

}
.section2{
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2_part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section2_part1 h4{
    font-size: 30px;
    font-weight: 800;
      color: black;

}
.section2_box1{
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dd8e60;
    border-radius: 10px;
}
.box_left{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box_left img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.box_right{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box_right1_1{
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box_right1_2 p{
    font-size: 20px;
    line-height: 1.2;
      color: black;

}
.name{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.name h4{
    font-size: 20px;
    font-weight: 800;
}
.star{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.star i{
    color: yellow;
}
.box_right1_2{
    height: 60%;
    width: 80%;
}
.section2_box2{
    height: 25%;
    width: 90%;
    background-color: #dd8e60;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.section2_box3{
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dd8e60;
    border-radius: 10px;
}
.section2_part2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feedbox1{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}
.feedbox1 h1{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
      color: black;

}
.feedbox1 h2{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
      color: black;

}
.stars i{
    font-size: 20px;
      color: yellow;

}
.feedbox2{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    gap: 10px;
}
.feedbox2 label{
    font-size: 20px;
    font-weight: 500;
      color: black;

}
.feedbox2 input{
    height: 30px;
    width: 500px;
}

.feedbox3{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    gap: 5px;
}
.feedbox3 label{
    font-size: 20px;
    font-weight: 500;
    color: black;

}
.feedbox3 input{
    height: 100px;
    width: 500px;
}
.feedbox4{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feedbox4 button{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border-color: #5b0101;
    color: white;
    background-color: #5b0101;
    margin-bottom: 50px;
}
footer {
  height: 40vh;
  width: 100%;
  background-color: #feea9f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .part1 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part1 h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
footer .part1 h1::before, footer .part1 h1::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part1 h1::before{
  left: 50%;
}
footer .part1 h1::after{
  right: 50%;
}
footer .part1 h1:hover::before, footer .part1 h1:hover::after{
  width: 50%;
}
footer .part1 h1:hover{
  color: blue;
}
footer .part1 a{
  font-size: 20px;
  font-family: '1';
  color:black;
}
footer .part2 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part2 h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
footer .part2 h2:hover{
  color: blue;
}
footer .part2 h2::before, footer .part2 h2::after{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  
  transition: width 0.3s ease-in-out;
}
footer .part2 h2::before{
  left: 50%;
}
footer .part2 h2::after{
  right: 50%;
}
footer .part2 h2:hover::before, footer .part2 h2:hover::after{
  width: 50%;
  color: blue;
}
footer .part2 h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
}
footer .part2 h3:hover{
  cursor: pointer;
  color: blue;
}
footer .part2 h3::before, footer .part2 h3::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part2 h3::before{
  left: 50%;
}
footer .part2 h3::after{
  right: 50%;
}
footer .part2 h3:hover::before, footer .part2 h3:hover::after{
  width: 50%;
}
footer .part3 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part3 h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
  display: inline-block;
  position: relative;
}
footer .part3 h2:hover{
  color: blue;
  cursor: pointer;
}
footer .part3 h2::before, footer .part3 h2::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part3 h2::before{
  left: 50%;
}
footer .part3 h2::after{
  right: 50%;
}
footer .part3 h2:hover::before, footer .part3 h2:hover::after{
  width: 50%;
}
footer .part3 h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: "1";
  color: black;
  padding-top: 5px;
  display: inline-block;
  position:relative;
}
footer .part3 h3:hover{
  cursor: pointer;
  color: blue;
}
footer .part3 h3::before, footer .part3 h3::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part3 h3::before{
  left: 50%;
}
footer .part3 h3::after{
  right: 50%;
}
footer .part3 h3:hover::before, footer .part3 h3:hover::after{
  width: 50%;
}
footer .part4 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part4 h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
}
footer .part4 h2:hover{
  cursor: pointer;
  color: blue;
}
footer .part4 h2::before, footer .part4 h2::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part4 h2::before{
  left: 50%;
}
footer .part4 h2::after{
  right: 50%;
}
footer .part4 h2:hover::before, footer .part4 h2:hover::after{
  width: 50%;
}
footer .part4 h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: "1";
  color: black;
  padding-top: 5px;
  position: relative;
  display:inline-block;
}
footer .part4 h3:hover{
  color: blue;
  cursor: pointer;
}
footer .part4 h3::before, footer .part4 h3::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}
footer .part4 h3::before{
  left: 50%;
}
footer .part4 h3::after{
  right: 50%;
}
footer .part4 h3:hover::before, footer .part4 h3:hover::after{
  width: 50%;
}
footer .part5 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part5 h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
}
footer .part5 h2:hover{
  color: blue;
  cursor: pointer;
}
footer .part5 h2::before, footer .part5 h2::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3 ease-in-out;
}
footer .part5 h2::before{
  left: 50%;
}
footer .part5 h2::after{
  right: 50%;
}
footer .part5 h2:hover::before, footer .part5 h2:hover::after{
  width: 50%;
}
footer .part5 h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: "1";
  color: black;
  padding-top: 5px;
  position: relative;
  display: inline-block;
}
footer .part5 h3:hover{
  color: blue;
  cursor: pointer;
}
footer .part5 h3::before, footer .part5 h3::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3 ease-in-out;
}
footer .part5 h3::before{
  left: 50%;
}
footer .part5 h3::after{
  right: 50%;
}
footer .part5 h3:hover::before, footer .part5 h3:hover::after{
  width: 50%;
}
footer .part6 {
  height: 100%;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .part6_1 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .part6_1 h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
  position: relative;
  display: inline-block;
}
footer .part6_1 h2:hover{
  color: blue;
  cursor: pointer;
}
footer .part6_1 h2::before, footer .part6_1 h2::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: blue;
  transition: width 0.3 ease-in-out;
}
footer .part6_1 h2::before{
  left: 50%;
}
footer .part6_1 h2::after{
  right: 50%;
}
footer .part6_1 h2:hover::before, footer .part6_1 h2:hover::after{
  width: 50%;
}
footer .part6_2 {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .part6_1 i {
  font-size: 30px;
  font-weight: 400;
  font-family: "1";
  color: black;
}
footer .part6_1 i:hover{
  color: blue;
  cursor: pointer;
}
